<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Passcode Generator</title>
    
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script scr="~/js/passcode.js" type="text/javascript"></script>

    <h3>Random Passcode (passcode #@ViewBag.Attempts)</h3>
    <input type="text" name="passcode" id="passcode" value="@ViewBag.Passcode" disabled>

    <button>New Passcode</button>
</body>
</html>