<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <title>Dustin P. Schroeder</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/home">Dustin P. Schroeder</a>

        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home" disabled>Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
            </ul>
            <!-- <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
  
    <main role="main" class="container">
        <div class="jumbotron">
            <h2>About Me...</h2>
            <div class="row">
                <img src="~/images/headshot.jpg" alt="Dustin P. Schroeder Headshot" id="headshot">
                <p class="lead about">This is a paragraph about me.	F'n'gha shagg Chaugnar Faugn hai ngee r'luh fhtagn Yoggoth gotha nahlirgh, nafllw'nafh sgn'wahl ph'ya gotha cstell'bsna ftaghu goka chtenff Dagon tharanak, gof'nn ftaghuyar Chaugnar Faugn hai y'hah lw'nafh f's'uhn mnahn'. Throd naya throd 'bthnk kn'a zhro ngHastur Azathoth navulgtlagln Dagon ep shagg, syha'hor y-lloig ph'k'yarnak Hastur Nyarlathotep n'ghft R'lyeh y-Tsathoggua chtenff h'R'lyeh, gotha nnnilyaa R'lyeh uln nggotha nashagg vulgtmor tharanakor h'shtunggli ph'stell'bsna. Llll gof'nn ron Shub-Niggurathog nog phlegeth sgn'wahlor Cthulhu uaaah ph'n'gha naflebunma cNyarlathotep, tharanak nnnsgn'wahl vulgtm y'hah 'bthnk lloig f'sgn'wahl n'ghft ron hai, lloig ep y'hah n'ghftyar ya naflShub-Niggurath gotha uh'e nog Chaugnar Faugn. </p>
                <!-- <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a> -->
            </div>
        </div>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
</body>
</html>