@{
    ViewData["Title"] = "Wedding Planner";
}

<div id="main">
    <div class="left">
        @Html.Partial("../Partials/Register")
    </div>
    <div class="right">
        @Html.Partial("../Partials/Login")
    </div>
</div>