<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Date and Time</title>
</head>
<body style="text-align: center">
    <h1>The current Time and Date</h1>
    <div id="main" >
        @{
            DateTime now = DateTime.Now;
            
            <h1>@String.Format("{0:MMM d, yyyy}", now)</h1>
            <h1>@String.Format("{0:h:mm tt}", now)</h1>
        }
    </div>
</body>
</html>