<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <title>Dojo Survey Results</title>
</head>
<body>
    <div class="wrapper">
        <h1>Submitted Info</h1>


        <div class="horizontal">
            <h3>Name:</h3>
            <h3>@ViewBag.name</h3>
        </div>

        <div class="horizontal">
            <h3>Dojo Location:</h3>
            <h3>@ViewBag.location</h3>
        </div>

        <div class="horizontal">
            <h3>Favorite Language:</h3>
            <h3>@ViewBag.language</h3>
        </div>

        <div class="horizontal">
            <h3>Comment:</h3>
            <h3>@ViewBag.comment</h3>
        </div>
        <a href="/"><button>Go Back</button></a>
    </div>
</body>
</html>